server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  datasource:
    url: 'jdbc:mysql://localhost:3307/kho_du_lieu_mn?useSSL=false&serverTimezone=UTC'
    username: root
    password: 240301
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  flyway:
    baseline-on-migrate: true
    locations: 'classpath:db/migration'

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

minio:
  url: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket-name: kindergarten

app:
  jwt:
    secret: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
    expiration-ms: 86400000 # 1 day (24 * 60 * 60 * 1000)

